@use 'setting' as *;

.section {
  margin: 32px 16px 0;
  @include sp() {
    margin: 32px vw(8) 0;
  }
  & + & {
    margin-top: 64px;
    @include sp() {
      margin-top: 32px;
    }
  }
}
.title {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  color: color(primary);
}
.git_alt_icon {
  margin-right: 4px;
  width: 22px;
  height: 22px;
  color: color(primary);
}
.readmore {
  margin-top: 16px;
  display: inline-block;
  font-size: 14px;
  color: color(note);
}
.list {
  margin-top: 8px;
}
