.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.main {
  height: 100%;
}
.article {
  margin-inline: auto;
  max-width: var(--max-width);
}
.section {
  padding-inline: 8px;
  padding-block: 16px;
}
.sectionTitle {
  font-size: 24px;
  font-weight: 700;
  color: var(--text);
  padding-block: 8px;
}
.profile {
}
.profile dt {
  margin-top: 16px;
}
.profile dd {
  margin-top: 2px;
}
.productCard {
  margin-block: 12px;
}
.productCardNearIcon {
  border-radius: 8px;
  width: 32px;
  height: 32px;
}
.contactItem {
  margin-block: 8px;
}
