.container {
  border-radius: 8px;
  border: 1px solid var(--border);
  border-radius: 8px;
  display: block;
  padding: 8px;
  transition: opacity 0.1s linear;
}
.container:hover {
  opacity: 0.6;
}
.title {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.appIcon {
  margin-right: 8px;
}
.description {
  margin-top: 8px;
}
