.container {
  position: sticky;
  top: 0;
  background-color: white;
}
.inner {
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 8px 12px;
}
.title {
  display: flex;
  align-items: center;
  font-size: 16;
  font-weight: 500;
}
.icon {
  margin-right: 2px;
}
