.container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 12px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 16;
  font-weight: 500;
}

.titleIcon {
  margin-right: 2px;
}

.nav {
  margin-top: 8px;
  display: flex;
  column-gap: 8px;
}
